.navbar{
    background-color: #0D253F;
}

.navbar-brand img{
    width: 100px;
    height: 100px;
}

.nav-item a{
    color: white !important;
}

.nav-item a:hover{
    color: gray !important;
}

.nav-item img{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-left: 10px;
}