
.discover-form-section {
    padding-top: 200px;
}

.discover {
    text-align: center;
    margin-bottom: -100px;
}

.discover h1 {
    font-size: 5vw;
    color: white;
}

.discover-box {
    padding: 0px 10% 30px 10%;
    width: 100%;
}

.discover-title {
    position: absolute;
    margin-top: -15px;
    left: 0;
    margin-left: 11%;
}

.discover-title h1 {
    padding: 0;
    margin: 0;
    font-size: 45px;
    color: white;
}

.discover-options {
    position: absolute;
    right: 0;
    padding-right: 12%;
}

.discover-options div {
    float: left;
}

.discover-sort {
    width: 130px;
    margin-right: 5px;
}

.discover-select {
    border-radius: 8px;
    padding: 5px;
}

.min-score {
    width: 280px;
    padding: 0 5px;
}

.discover-box-label {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: black;
}

.min-score-title {
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 5px 5px 6px 10px;
}

.min-score-range {
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 6px 2px 6px 0;
}

.max-score {
    width: 270px;
    padding: 0 5px;
}

.year-input {
    border-radius: 8px;
    border: none;
}

.year {
    width: 270px;
    padding: 0 5px;
}

.search-button {
    width: 80px;
    padding-left: 5px;
}

.search-button button {
    width: 100px;
    padding: 8px;
    border: none;
    border-radius: 8px;
}

@media screen and (max-width: 1650px) {
    .discover-title {
        display: none;
    }

    .discover-options {
        padding: 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -27px;
    }

    .discover-box {
        padding: 0;
    }

    .min-score-range {
        padding: 7px 2px 6px 0;
    }
}


@media screen and (max-width: 1100px) {
    .discover-options {
        transform: scale(0.8);
        width: 120%;
        margin-left: -96px;
        padding-bottom: 20px;
    }

    .min-score-range {
        margin-left: -1px;
    }

    
    .discover h1 {
        font-size: 8vw;
        color: white;
    }
}

@media screen and (max-width: 900px) {
    .discover-options {
        transform: scale(0.7);
        width: 140%;
        margin-left: -160px;
        padding-bottom: 20px;
    }

    .min-score-range {
        margin-left: -1px;
    }
}

@media screen and (max-width: 760px) {
    .discover-options div {
        float: left;
    }

    .discover-options {
        margin: 0;
        padding: 0 0 50px 0;
        position: relative;
        transform: scale(1);
        display: grid;
        grid-template-columns: 100%;
        place-items: center;
        row-gap: 10px;
        width: 100%;
    }

    .min-score-range {
        padding: 6px 2px 6px 0;
    }

    .discover-sort {
        width: 272px;
        margin-left: 5px;
    }

    .discover-select {
        width: 272px;
    }

    .max-score {
        width: 280px;
    }

    .year {
        width: 280px;
    }

    .search-button {
        width: 280px;
    }

    .search-button button {
        width: 270px;
    }

    .discover h1 {
        font-size: 10vw;
        color: white;
    }
}
