.footer-attribution img{
    width: 125px !important;
}

.footer {
    background-color: #100E1B !important;
}

@media (max-width: 1200px) {
    .rc-footer {
      margin-top: 150px;
    }
}

@media (max-width: 1024px) {
    .footer {
        padding: 0 10px !important;
    }

    .footer-links {
        width: 15% !important;
        padding-left: 10px !important;
    }
}

@media (max-width: 768px) {
    .footer-attribution {
        width: 100% !important;
    }

    .footer-attribution img {
        margin-left: -50px;
    }

    .footer-links {
        width: 100% !important;
        padding-left: 0px !important;
    }

    .footer-contact-us {
        width: 100% !important;
        padding-left: 0px !important;
    }

    .footer-about-us {
        width: 100% !important;
    }
}
