.top-movies-section {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-gap: 2%;
    row-gap: 8%;
    padding: 100px 10% 0 10%;
}

.movie-vote {
    background-color: black;
    border-radius: 50%;
    margin-top: -30px;
    z-index: 1;
}

.top-movies-section p {
    font-size: 1.1em;
    color: white;
}

.top-movies-section img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1)
}

@media (max-width: 1500px) {
    .top-movies-section {
        grid-template-columns: 18% 18% 18% 18% 18%;
    }
}

@media (max-width: 1200px) {
    .top-movies-section {
        grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    }
}

@media (max-width: 900px) {
    .top-movies-section {
        grid-template-columns: 32% 32% 32%;
        row-gap: 5%;
        padding: 100px 4% 0 4%;
    }
}

@media (max-width: 600px) {
    .top-movies-section {
        grid-template-columns: 49% 49%;
        row-gap: 3%;
    }
}
