* {
    margin: 0;
    padding: 0;
}

.us-section {
    background: #19181F;
}

.us-container {
    position: relative;
}

.us-text {
    align-items: center;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 40%;
    left: 30%;
}

.us-container h3{
    font-size: 4rem;
    color: #fff;
}

.us-container p {
    font-size: 1.5rem;
    color: #fff;
}

.us-container:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.us-container img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: top;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

@media (max-width: 1500px) {
    .us-text {
        align-items: center;
        position: absolute;
        text-align: center;
        top: 20%;
        width: 80%;
        left: 10%;
    }
}


@media (max-width: 1200px) {
    .us-section {
        padding-top: 150px;
    }
    .us-text {
        width: 80%;
        left: 10%;
    }
}

@media (max-width: 1000px) {
    .us-text {
        text-align: left;
        padding-right: 40px;
        padding-left: 40px;
        width: 100%;
        left: 0;
    }

    .us-text p {
        text-align: left;
    }

    .us-text h3 {
        font-size: 3rem;
        padding-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .us-section {
        padding-top: 60px;
    }
}

@media (max-width: 500px) {
    .us-text h3 {
        font-size: 2rem;
    }

    .us-text p {
        font-size: 1.1rem;
    }
}
