.movie-details-section {
    margin-top: -50px;
    padding: 50px 10% 100px 10%;
    background-color: #131217;
}

.movie-details-section img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.movie-details-img:before {
    position: absolute;
    content: '';
    width: 80%;
    height: 700px;
    background: rgba(0,0,0,0.6);
}

.movie-details-info {
    position: absolute;
    z-index: 1;
}

.movie-details-title {
    color: white;
    position: relative;
    margin-top: 200px;
    margin-left: 40px;
    width: 800px;
}

.movie-details-title h1{
    font-size: 50px;
}

.movie-details-overview {
    position: relative;
    color: white;
    margin-left: 40px; 
    width: 800px;
}

.movie-details-overview p {
    font-size: 20px;
}

hr.style {
    border-top: 1px solid #8c8b8b;
    width: 800px;
}

.movie-details-description {
    width: 800px;
    margin-left: 40px;
    padding-bottom: 50px;
}

.movie-details-description p {
    font-size: 18px;
    color: white;
    
}

.movie-details-rating {
    float: left;
}

.movie-details-genre {
    float: right;
    padding-right: 50px;
}

.movie-details-runtime {
    float: right;
}

.movie-details-release p{
    color: white;
    font-size: 20px;
}

.movie-details-release {
    margin-left: 40px;
    margin-top: 650px;
    position: absolute;
    z-index: 1;
}

.movie-details-close {
    position: relative;
    z-index: 1;
    float: right;
    margin-bottom: -200px;
    margin-right: 40px;
}

.movie-details-close button {
    font-size: 70px;
    color: white;
    background-color: transparent;
    border: none;
    
}

.movie-details-companies {
    position: absolute;
    z-index: 1;
    margin-right: 40px;
}

.movie-details-companies img{
    width: 50px;
    height: auto;
    margin-left: 15px;
    margin-top: 5px;
}

.add-to-watchlist {
    position: absolute;
    z-index: 1;
    margin-left: 40px;
    margin-top: 420px;
}

.movie-details-overview button {
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 15px;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    float: left;
    margin-right: 20px;
    transition: .2s ease-in-out;
}

.movie-details-overview button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

@media (max-width: 1800px) {
    .movie-details-section {
        padding: 0px 6%;
        padding-bottom: 100px;
    }

    .movie-details-img:before {
        width: 88%;
    }
}

@media (max-width: 1200px) {
    .movie-details-section {
        display: none;
    }
}
