.website-stats {
    align-items: center;
    position: absolute;
    top: 20%;
    width: 50%;
    left: 25%;
}

.website-stats h3{
    font-size: 30px;
    font-weight: 400;
}

.favorite-stats {
    padding-top: 50px;
    padding-left: 40px;
}

.website-stats h1{
    font-size: 40px;
    color: white;
}

.watchlist-stats {
    padding-left: 40px;
}

.stats-section {
    background: #131217;
    padding-top: 130px;
}

.stats-container {
    position: relative;
}

.stats-container h3{
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.stats-container:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.stats-container img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: top;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

@media screen and (max-width: 1200px) {
    .stats-container {
        margin-top: 0px;
        margin-bottom: -150px;
    }

    .website-stats {
        width: 80%;
        left: 10%;
    }
}

@media screen and (max-width: 550px) {
    .stats-container {
        text-align: center;
    }

    .website-stats {
        width: 95%;
        left: 2.5%;
        top: 50px;
    }

    .stats-container h3{
        font-size: 40px;
    }

    .watchlist-stats {
        padding-left: 0px;
    }

    .favorite-stats {
        padding-left: 0px;
    }
}

@media screen and (max-width: 550px) {
    .stats-container h3{
        font-size: 30px;
    }

    .website-stats h1{
        font-size: 25px;
        color: white;
    }

    .website-stats {
        top: 200px;
    }
}
