@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

.navbar{
    background-color: #19181F;
    border-bottom: 1px solid #303743;
}

.navbar-brand {
    padding-left: 9%;
}

.navbar-brand img{
    height: 80px;
    width: 100%;
}

.nav{
    margin-left:auto;
    padding-right: 12%;
    font-size: 25px !important;
}

.nav-item a{
    color: white !important;
}

.nav-item a:hover{
    color: gray !important;
}