@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

.navbar{
    background-color: #19181F;
    border-bottom: 1px solid #303743;
}

.navbar-brand img{
    width: 75px;
    height: 75px;
}

.nav{
    margin-left:auto;
}

.nav-item a{
    color: white !important;
}

.nav-item a:hover{
    color: gray !important;
}