.profile-container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 400px calc(100% - 420px);
    column-gap: 20px;
    padding: 20px;
}

.profile-about {
    text-align: center;
    width: 400px;
    background-image: radial-gradient(at bottom, #151a50 0%,#33156be6 80%, #0b1444e6 100%);
    border-radius: 15px;
    height: 900px;
    position: sticky;
    top: 100px;
}

.profile-about h1 {
    color: white;
    font-size: 60px;
    padding-top: 20px;
}

.profile-about h2 {
    color: white;
    text-align: left;
    padding: 0 20px 10px 20px;
    font-size: 30px;
}

.profile-about p {
    color: white;
    text-align: left;
    padding: 0 20px;
}

.profile-movies h1 {
    color: white;
    padding: 20px 0 10px 75px;
    font-size: 60px;
}

.profile-favorite-movie img {
    width: 400px;
    height: 650px;
    object-fit: cover;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    cursor: pointer;
    border-radius: 10px;
}

.profile-favorite-movie:hover {
    transform: scale(1.05);
}

.profile-favorite-movie img:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.profile-image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 20px 0;
}

.profile-favorite-movie h3{
    color: white;
    font-size: 30px;
}

.arrow-button button {
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #221859;
    font-size: 60px;
    margin-top: 250px;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all .3s ease-in-out;
    outline: none;
}

.profile-favorite-remove {
    position: absolute;
    margin-top: -7px;
    margin-left: 350px;
    z-index: 1;
}

.profile-favorite-info h3{
    width: 94%;
}

.profile-favorite-movie button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 40px;
    margin: 0;
}

.profile-favorite-body button:hover {
    transform: scale(1.1);
}

.profile-favorite-movie {
    width: 420px;
    height: 900px;
    padding: 25px 20px 0 20px;
    transition: all .2s ease-in-out;
}

.profile-favorite {
    background-image: radial-gradient(at bottom, #151a50 0%,#33156be6 80%, #0b1444e6 100%);
    border-radius: 15px;
    height: 900px;
}

.profile-watchlist {
    margin-top: 20px;
    background-image: radial-gradient(at bottom, #151a50 0%,#33156be6 80%, #0b1444e6 100%);
    border-radius: 15px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}
  
.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.profile-watchlist-body {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    row-gap: 30px;
    padding-bottom: 30px;
}

.profile-watchlist-movie:hover {
    transform: scale(1.08);
}

.profile-watchlist-movie img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    border-radius: 5px 0 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-watchlist-movie {
    position: relative;
    z-index: 1;
    transition: all .2s ease-in-out;
}

.profile-watchlist-movie {
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.5);
}

.profile-watchlist-movie-info {
    width: 100%;
    height: 296px;
    margin-top: 2px;
    margin-left: -2px;
    position: relative;
    z-index: -99;
    border-radius: 0 5px 5px 0;
}

.profile-watchlist-movie-info h3 {
    color: white;
    font-size: 20px;
    padding: 20px 10px 0 10px;
}

.profile-watchlist-movie-info h4 {
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 0 10px;
}

.profile-watchlist-movie-info p {
    color: white;
    font-size: 12px;
    padding: 0 10px;
}

.profile-watchlist-buttons button {
    background-color: transparent;
    width: 35px;
    height: 25px;
    margin-right: 7px;
    border: none;
}

.profile-watchlist-buttons button:first-child {
    margin-left: 10px;
    margin-right: 0px;
}

.profile-watchlist-buttons button:last-child {
    margin-right: 0px;
}

.profile-watchlist-buttons p {
    color: white;
    font-size: 20px;
    margin-top: 4px;
}

.profile-watchlist-buttons {
    position: absolute;
    bottom: 15px;
}

.profile-about-buttons {
    position: absolute;
    bottom: 10px;
    left: 40%;
    transform: translate(-30%, -20%);
}

.profile-about-buttons button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #0462F7;
    background-color: #0462F7;
    color: white;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
}

.profile-about-buttons button:hover {
    background-color: white;
    color: #0462F7;
    border: 1px solid #ffffff;
}

@media screen and (max-width: 1700px) {
    .profile-watchlist-body {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        row-gap: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 1500px) {
    .profile-container {
        grid-template-columns: 100%;
        margin-top: 40px;
    }

    .profile-about {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .profile-about-body {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .profile-movies {
        margin-top: 130px;
    }

    .profile-about img{
        width: 400px;
        float: right;
    }

    .profile-info {
        padding-top: 10px;
    }

    .profile-about-buttons {
        position: relative;
        left: 0;
        transform: translate(0, 0);
        bottom: 0;
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        padding-bottom: 10px;
    }

    .profile-about-buttons button {
        width: 140px;
        height: 50px;
        font-size: 22px;
    }
}

@media screen and (max-width: 1200px) {
    .profile-favorite-movie img {
        width: 300px;
        height: 420px;
    }

    .profile-favorite-movie {
        width: 315px;
    }

    .profile-favorite-movie h3 {
        font-size: 25px;
    }

    .profile-favorite-remove button {
        font-size: 30px;
    }

    .profile-favorite {
        height: 700px;
    }

    .profile-favorite-remove {
        margin-left: 250px;
        margin-top: -3px;
    }

    .arrow-button {
        margin-top: -50px;
    }
}

@media screen and (max-width: 1100px) {
    .profile-watchlist-body {
        grid-template-columns: repeat(2, 50%);
    }

    .profile-about-body {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .profile-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-info {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20%;
    }
}

@media screen and (max-width: 700px) {
    .profile-watchlist-body {
        grid-template-columns: repeat(1, 100%);
    }
}

@media screen and (max-width: 600px) {
    .profile-favorite-header h1 {
        font-size: 40px;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 20px;
    }

    .profile-watchlist-header h1 {
        font-size: 40px;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .profile-info {
        padding: 0;
    }

    .profile-image img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .profile-favorite-movie img {
        width: 200px;
        height: 280px;
    }

    .profile-favorite-movie {
        width: 220px;
    }

    .profile-favorite-movie h3 {
        font-size: 18px;
    }

    .profile-favorite-info {
        width: 90%;
    }

    .profile-favorite {
        height: 470px;
    }

    .profile-favorite-remove {
        margin-left: 150px;
    }

    .arrow-button {
        margin-top: -120px;
    }

    .arrow-button button {
        font-size: 40px;
    }
}

@media screen and (max-width: 400px) {
    .profile-favorite-movie img {
        width: 150px;
        height: 224px;
    }

    .profile-favorite-movie {
        width: 170px;
    }

    .profile-favorite-movie h3 {
        font-size: 18px;
    }

    .profile-favorite-info {
        width: 100%;
    }

    .profile-favorite {
        height: 470px;
    }

    .profile-favorite-remove {
        margin-left: 130px;
        margin-top: -3px;
    }

    .profile-favorite-remove button {
        font-size: 20px;
    }

    .arrow-button {
        margin-top: -140px;
    }

    .profile-about-buttons button {
        width: 85px;
        height: 35px;
        font-size: 16px;
    }
}