.profile-container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 400px calc(100% - 420px);
    column-gap: 20px;
    padding: 20px;
}

.profile-about {
    text-align: center;
    width: 400px;
    background-color: #fff;
    border-radius: 15px;
}

.profile-about h1 {
    color: black;
}

.profile-about p {
    color: black;
}

.profile-movies h1 {
    color: black;
}

.profile-movies div {
    background-color: #fff;
}

/* .profile-favorite-body {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    column-gap: 2%;
    padding: 0 20px;
    justify-content: center;
    row-gap: 60px;
} */

.profile-favorite-movie img {
    width: 400px;
    height: 90%;
    object-fit: cover;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    cursor: pointer;
}

.profile-favorite-movie {
    width: 420px;
    height: 700px;
    padding: 0 20px;
}

.profile-favorite-body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.profile-favorite {
    
}

.profile-movies {

}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}
  
.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
