.search-results-section {
    padding: 0px 9% 150px 9%;
    color: white;
}

.search-results-section h1 {
    padding-bottom: 30px;
    font-size: 60px;
}

.search-results-heading {
    padding-top: 60px;
}

.search-movies-container {
    background-color: #19181F;
    display: grid;
    grid-template-columns: repeat(6, 15%);
    grid-gap: 2%;
    row-gap: 150px;
    padding: 0 2%;
    overflow: hidden;
    padding-bottom: 500px;
    cursor: pointer;
    padding-top: 50px;
}

.search-movies-container p {
    font-size: 1.5em;
    color: white;
}

.search-movies-container img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1)
}

.movie-card-info h3 {
    font-size: 1.4em;
    color: white;
}

.movie-card-info p {
    font-size: 1em;
    color: gray;
}

@media (max-width: 1800px) {
    .movies-section {
        padding: 150px 6% 150px 6%;
    }

    .search-movies-container {
        grid-template-columns: repeat(5, 18%);
        row-gap: 150px;
    }
}

@media (max-width: 1400px) {
    .search-movies-container {
        grid-template-columns: repeat(4, 23.5%);
    }
}

@media (max-width: 1200px) {
    .movies-section {
        padding: 100px 4% 0 4%;
    }
    
    .search-movies-container {
        grid-template-columns: 30% 30% 30%;
        row-gap: 100px;
        column-gap: 5%;
    }

    .movies-section h1 {
        padding-bottom: 60px;
        font-size: 60px;
    }
}

@media (max-width: 900px) {
    .search-movies-container{
        grid-template-columns: 47.5% 47.5%;
        row-gap: 100px;
        padding-top: 0px;
        padding-bottom: 180px;
    }

    .movies-section h1 {
        text-align: center;
        padding-bottom: 40px;
    }

    .movies-section {
        padding-top: 20px;
    }
}

@media (max-width: 600px) {
    .search-movies-container{
        row-gap: 150px;
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .search-results-section {
        padding: 0px 0% 150px 0%;
        color: white;
    }

    .movies-section h1 {
        text-align: center;
        padding-bottom: 40px;
    }
}
