.search-form-section{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 150px;
    padding-bottom: 1%;
    color: white !important;
}

.search-form-section h1{
    margin: 0 auto;
}

.button {
    border-radius: 0px;
}

.input{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.search-form{
    width: 100%;
    text-align: center;
}

.form-group{
    display: inline-block;
    width: 900px !important;
}

.form-label{
    padding-left: 37%;
}

@media screen and (max-width: 1200px){
    .form-group{
        width: 70% !important;
    }
}

@media screen and (max-width: 700px){
    .form-group{
        width: 100% !important;
    }
}
